<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/template--product.liquid
{% endcomment %}

{% section 'template--product' %}
{% section 'template--product--recommendations' %}

<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}" data-description="{{ product.description | escape }}" data-price="{{ variant.price | money_without_currency }}" data-currency="{{ shop.currency }}"></div>

<div class="yotpo bottomLine"
  data-product-id="{{ product.id }}">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
{%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
{%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
{%- if yotpo_live_time and diff_seconds_from_live < 86400 and yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
 {%- assign yotpo_bottomline_obsolete = false %}
{%- else %}
 {%- assign yotpo_bottomline_obsolete = true %}
{%- endif %}
{%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
 {{ product.metafields.yotpo.bottomline }}
{%- endif %}
</div>



<script>
  $(document).ready(() => {
  $('.swatch-element.color.available').each((index, obj) => {
    const $radios = $(`#${obj.id} input[type=radio]`);
    if ($radios.is(':checked') === true) {
      const getCurrentColor = $(`#${obj.id}.color`).data('value');
      $('#selected-color').html(getCurrentColor);

    }else{
      if (index === 0) {
        const getCurrentColor = $(`#${obj.id}.color`).data('value');
        $('#selected-color').html(getCurrentColor);
      }
   
    }

  });
  
  $(`.swatch-element.color`).off('touchstart click').on('touchstart click', (event) => {
    $('#selected-color').html(event.target.dataset.value);
  });
  
  });
  
</script>